@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css");
/* @import url("https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css");*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #616161;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 8px #281E7C;
}

.color-blue {
    color: #0080c5;
}

.color-red {
    color: #6f0b1f;
}